/* .xcontainer {
    width: 100%;
} */

/* nav {
    width: -webkit-fill-available;
} */
/* .main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
} */
.xcontainer {
    width: 100%;
}